<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Dane pracownika</th>
            <th>Klienci</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>
                    <div class="small">
                        <div>
                            <span class="fw-bold">Imię i nazwisko: </span>
                            <span>{{ employee.name }}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Email: </span>
                            <span>{{ employee.email }}</span>
                        </div>
                    </div>
                </td>
                <td>
                    {% for client in clients %}
                        {% if employee.client_id == client.id %}
                            <div class="my-2">
                                <div>
                                    <span>{{ client.name }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>